/*========== RESET ================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*================================================*/

body {
	background-image: url("./imgs/website-background-grey.jpg");
	font-family:Georgia;
}

th, td { 
	border: 1px solid black;
}

.clear-menu {
	margin:auto;
	width:50%;
}

.white-menu {
	margin:auto;
	padding:1em;
	border:2pt solid black;
	width:50%;
	color:black;
	background-color:white;
}

.menu-title {
	margin-bottom:1em;
	font-size:1.5em;
}

#site-header {
	text-align:center;
	font-size:3em;
	color:white;
	margin:auto;
	margin-top:1em;
	width:70%;
}

#login-img {
	width:100%;
	margin-top:1em;
}

#username-label {
	color:lightblue;
}

#upper-menu {
	margin:auto;
	margin-top:1em;
	width:510px;
}

#lobby-screen {
	margin:auto;
	padding:10px;
	width:580px;
	color:black;
	background-color:white;
	border:2pt solid black;
}

#game-screen {
	margin:auto;
	width:600px;
}

#canvas {
	background-color:white;
	border:2px solid black;
}

#upper-game-screen {
	margin:auto;
	margin-top:1em;
	width:600px;
}

#upper-game-screen:after {
    content: "";
    clear: both;
    display: table;
}

#host-menu {
	float:left;
	width:75%;
}

#in-game-menu {
	float:right;
	width:25%;
}

#map-editor-menu {
	width:100%;
}

#session-list {
	margin-top:1em;
	margin-bottom:1em;
}

#lobby-player-list {
	margin-top:1em;
	margin-bottom:1em;
	color:green;
}

#map-editor-screen {
	width:650px;
	margin:auto;
}

#map-editor-screen::after {
    content: "";
    clear: both;
    display: table;
	margin-bottom:3em;
}

#map-editor-brush-panel {
	float:left;
	background-color:white;
}

#map-editor-canvas {
	float:right;
	margin-right:20px;
	background-color:white;
}

#options-menu {
	margin-bottom:3em;
}

#chat-toggle-btn {
	width:100%;
}

#chat-window {
	width:100%;
}

#chat-log {
	border:2px solid white;
	width:95%;
	height:100px;
	overflow-y:scroll;
	background-color:black;
	color:white;
}

#chat-input {
	width:85%;
	background-color:black;
	color:white;
}

#chat-submit-btn {
	width:10%;
	margin-left:auto;
}

